**/packer_compiled.vim
.netrwhist
.talismanrc
autoload/plugged/*
benched/
dein
dev/
examples/
nodepath.vim
notes/
pack/
paths.vim
pythonpath.vim
scrap
scrap.vim
session
tags*
test/
vimspector-config/*
wiki/
