autopep8
black
cmake-language-server
docutils
flake8
future
git+https://github.com/luarocks/hererocks
github3.py
jedi
jedi-language-server
jinja2
matplotlib
msgpack
neovim
neovim-remote
pathtools
pip
pre-commit
proselint
pybtex
pycurl
pylint
pynvim
PyQt5
pytest
regex
setuptools
tasklib
uvloop
wheel
