autopep8
black
cmake-language-server
docutils
flake8
future
git+https://github.com/luarocks/hererocks
github3.py
jedi
jedi-language-server
jinja2
matplotlib
msgpack
neovim
neovim-remote
pathtools
pip
pre-commit
proselint
pycurl
pylint
pyls-black
pynvim
python-language-server[all]
regex
setuptools
tasklib
uvloop
wheel
