snippet meta(data)? "Markdown metadata front matter" br
---
title: $1
date: "`!v strftime("%Y-%m-%d")`"
image: "$2"
author: "kludgeon"
tags: [$4]
output:
  html_document:
    highlight: tango
    number_sections: true
    smart: true
    toc: true
    toc_float: true
---
endsnippet
