snippet "meta" "Markdown metadata front matter" b
---
title: [$1]
author: "klooj"
date: `!p from datetime import datetime
if not snip.c:
    snip.rv=datetime.now().strftime("%Y-%m-%d")`
tags: [$2]
categories: [$3]
image: [$4]
output:
  html_document:
    highlight: tango
    number_sections: true
    smart: true
    toc: true
    toc_float: true
---
endsnippet
